/* https://colorhunt.co/palette/141100 */

html, body {
  background-color: #e7e7e9 !important;
  color: #2a2438 !important;
}

.dark-background {
  background-color: #2a2438;
  color: #CCC;
}

.light-background {
  background-color: #746c8a !important;
}


Button.light-background:hover{
  background-color: #2a2438 !important;
}

Button.light-background{
  border-color: #352f44 !important;
}

.mid-background {
  background-color: #352f44 !important;
}

.text-light {
  color: #CCC;
}

.white-background {
  background-color: #FFF;
}